.price-card {
  width: 380px;
  height: 770px;
  margin: 115px 132px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  display: flex;
  justify-content: space-between;

  &-blue {
    width: 380px;
    height: 770px;
    background: #334247;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    display: flex;
  }

  &__decoration {
    margin: 0;
    display: flex;
    position: absolute;
  }

  &__image-caption {
    position: absolute;
    transform: rotate(45deg);
    top: 36px;
    margin-right: 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__container {
    margin: auto;
    margin-right: 18px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px;
  }

  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    display: contents;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  &__price {
    width: 380px;
    height: 105px;
    background: #5bb189;
    display: flex;
    justify-content: center;
  }
  &__price-blue {
    background: #3a6ba5;
    width: 380px;
    height: 105px;
    display: flex;
    justify-content: center;
  }
  &__price-sum {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: $text-color;
    margin: 19px 110px;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $text-color;
    margin: 26px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__options {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 39px;
  }

  &__options-arrow {
    margin-right: 22px;
  }

  &__options-list {
    list-style-type: none;
  }

  &__order-btn {
    width: 154px;
    height: 40px;
    background-color: $color-button-green;
    border-radius: $border-radius-button;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &__order-btn-blue {
    background: #3a6ba5;
  }
}
