$color-price-green: #5bb189;
$color-price-blue: #3a6ba5;
$color-price-orange: #ec632a;

$color-button-green: #5bb189;
$color-button-blue: #3a6ba5;
$color-button-orange: #ec632a;

$color-decoration: #dc3f45;

$border-radius-button: 20px;

$text-color: #fff;
